Repository FEUP-ESOF-2020-21/open-cx-t7g5-5-estrelinhas, pull requests merged in 2020-12, with the labels that each got.

#32 Triggers for deleting and editing conferences
  src/cloud_functions/functions/package-lock.json
  src/cloud_functions/functions/package.json
  src/cloud_functions/functions/src/index.ts
  src/meetix/lib/controller/FirestoreController.dart
  src/meetix/lib/controller/FunctionsController.dart
  src/meetix/lib/view/ConferencePage.dart
Labels: cloud_functions, firestore, new feature, staff flow

#33 Conference management - Create, edit and delete
  src/cloud_functions/.runtimeconfig.json
  src/cloud_functions/functions/package-lock.json
  src/cloud_functions/functions/package.json
  src/cloud_functions/functions/src/index.ts
  src/meetix/android/app/src/debug/AndroidManifest.xml
  src/meetix/android/app/src/main/AndroidManifest.xml
  src/meetix/android/app/src/main/kotlin/com/fivestars/meetix/MainActivity.kt
  src/meetix/android/app/src/profile/AndroidManifest.xml
  src/meetix/lib/controller/FirestoreController.dart
  src/meetix/lib/controller/FunctionsController.dart
  src/meetix/lib/controller/StorageController.dart
  src/meetix/lib/model/Conference.dart
  src/meetix/lib/view/AllProfilesPage.dart
  src/meetix/lib/view/ConferenceListPage.dart
  src/meetix/lib/view/ConferencePage.dart
  src/meetix/lib/view/CreateConferencePage.dart
  src/meetix/lib/view/CreateProfilePage.dart
  src/meetix/lib/view/EditConferencePage.dart
  src/meetix/lib/view/EditProfilePage.dart
  src/meetix/lib/view/MyWidgets.dart
  src/meetix/lib/view/ViewProfileDetailsPage.dart
Labels: cloud_functions, firestore, new feature, staff flow

#35 View Staff Profile
  src/meetix/lib/view/ViewProfileDetailsPage.dart
Labels: S, attendee flow

#36 Delete profile
  src/cloud_functions/functions/src/index.ts
  src/meetix/lib/controller/FunctionsController.dart
  src/meetix/lib/view/AllProfilesPage.dart
  src/meetix/lib/view/ConferencePage.dart
  src/meetix/lib/view/LikedYouProfilesPage.dart
  src/meetix/lib/view/MatchedProfilesPage.dart
  src/meetix/lib/view/MyWidgets.dart
  src/meetix/lib/view/TopProfilesPage.dart
  src/meetix/lib/view/ViewProfileDetailsPage.dart
  src/meetix/pubspec.lock
Labels: attendee flow, cloud_functions, firestore, new feature

#43 Widget tests
  README.md
  src/meetix/lib/view/ActiveConferencesPage.dart
  src/meetix/lib/view/AllProfilesPage.dart
  src/meetix/lib/view/ViewProfileDetailsPage.dart
  src/meetix/pubspec.lock
  src/meetix/pubspec.yaml
  src/meetix/test/widget_test.dart
  src/meetix/test/widget_tests.dart
Labels: testing

#44 Search
  src/cloud_functions/functions/package-lock.json
  src/cloud_functions/functions/package.json
  src/cloud_functions/functions/src/index.ts
  src/cloud_functions/package-lock.json
  src/meetix/lib/controller/SearchController.dart
  src/meetix/lib/main.dart
  src/meetix/lib/view/ConferenceListPage.dart
  src/meetix/lib/view/ConferencePage.dart
  src/meetix/lib/view/CreateConferencePage.dart
  src/meetix/lib/view/EditConferencePage.dart
  src/meetix/lib/view/MyWidgets.dart
  src/meetix/lib/view/SearchConferencePage.dart
  src/meetix/lib/view/SearchProfilePage.dart
  src/meetix/pubspec.lock
  src/meetix/pubspec.yaml
Labels: cloud_functions, new feature

#46 Changed app theme, resizing images on upload
  src/meetix/lib/main.dart
  src/meetix/lib/view/AllProfilesPage.dart
  src/meetix/lib/view/AuthPage.dart
  src/meetix/lib/view/ConferenceListPage.dart
  src/meetix/lib/view/ConferencePage.dart
  src/meetix/lib/view/CreateConferencePage.dart
  src/meetix/lib/view/CreateProfilePage.dart
  src/meetix/lib/view/EditAccountPage.dart
  src/meetix/lib/view/EditConferencePage.dart
  src/meetix/lib/view/EditProfilePage.dart
  src/meetix/lib/view/MyWidgets.dart
  src/meetix/lib/view/SignInPage.dart
  src/meetix/lib/view/SignUpPage.dart
  src/meetix/lib/view/ViewProfileDetailsPage.dart
  src/meetix/pubspec.lock
Labels: design
